

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.nav > li.nav-header > a {
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}















