      <footer class="footer">
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              {% include "includes/social.html" %}
            </div> <!-- /col -->
            <div class="col-md-3">
              <h4>Links</h4>
              <ul class="nav nav-pills">
              {% for title, link in LINKS %}
                <li role="presentation">
                  <a href="{{ link }}">{{ title }}</a>
                </li>
              {% endfor %}
              </ul>
            </div> <!-- /col -->
            <div class="col-md-6">
              <blockquote class="blockquote-reverse">
                <p>Research is what I'm doing when I don't know what I'm doing.</p>
                <footer>Wernher von Braun</footer>
              </blockquote>
            </div> <!-- /col -->
          </div> <!-- /row -->
          <div class="row">
            <p>&copy; Company 2014</p>
          </div> <!-- /row -->
        </div> <!-- /container -->
      </footer>
  